.cnt {
    padding-top: 10px;
}
.favContainer{
    box-sizing: content-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.favContainer> 

.btnShareFavs{
    border: 0px;
    background-color: var(--color-4);
    color: white;
    height: 45px;
    font-weight: bold;
    font-size: 1.02rem;
    border-radius: 3px;
    margin: 0 15px;
    cursor: pointer;
}
.btnShareFavs:hover{
    background-color: var(--color-41);
}
.btnShareFavs:active{
    background-color: var(--color-6);
}