@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-5);

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* TAMAÑO PANTALLA PEQUEÑA */
  --max-width-phone : 530px;


  --color-primario: #2d333b;
  --color-2: #d6819f;
  --color-3: #8F5C21;
  --color-4: #3b32b4;
  --color-41: #2e2974;
  /* --color-5: #D698C1; */
  --color-5: #181e25;
  --color-6: #4f5963;
  --color-btn-search:rgb(99, 76, 175) ;
}

hr {
  border-style: solid;
  border: 1px solid var(--color-41);

}